<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>de.buch.shop.bildskalierung.application</display-name>

	<!-- config parameters -->
	
	<context-param>
		<param-name>propertiesLocation</param-name>
		<param-value>de.buch.shop.bildskalierung.config.path</param-value>
	</context-param>
	
	<context-param>
		<param-name>log4jPropertiesFileName</param-name>
		<param-value>de.buch.shop.bildskalierung-log4j.properties</param-value>
	</context-param>	

    <!-- Spring -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/contexts/applicationContext.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>servletConfigLocation</param-name>
        <param-value>
            /WEB-INF/contexts/servletContext.xml
        </param-value>
    </context-param>

    <!-- listener -->
    <listener>
		<listener-class>de.buch.commons.utils.log.LoggingConfigureListener</listener-class>
	</listener>
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- servlet config -->

    <servlet>
        <servlet-name>SpringServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/contexts/servletContext.xml</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SpringServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>